#include "resource.h"
#include <windows.h>

IDD_ADDUSER_DIALOG DIALOGEX 0, 0, 200, 100
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add User"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT           "Login:", -1, 10, 10, 40, 10
EDITTEXT        IDC_LOGIN_EDIT, 60, 10, 120, 12, ES_AUTOHSCROLL
LTEXT           "Password:", -1, 10, 30, 40, 10
EDITTEXT        IDC_PASS_EDIT, 60, 30, 120, 12, ES_PASSWORD | ES_AUTOHSCROLL
PUSHBUTTON      "OK", IDC_OK_BUTTON, 70, 60, 60, 14
END